//primary colors
$plr: hsl(356, 100%, 66%);
$pvlr: hsl(355, 100%, 74%);
$pvdb: hsl(208, 49%, 24%);

//neutral colors
$nw: hsl(0, 0%, 100%);
$ngb: hsl(240, 2%, 79%);
$vdgb: hsl(207, 13%, 34%);
$vdbb: hsl(240, 10%, 16%);

//gradient colors
$gvlr: hsl(13, 100%, 72%);
$glr: hsl(353, 100%, 62%);
$gvdgb: hsl(237, 17%, 21%);
$vddb: hsl(237, 23%, 32%);